html {
    height:100%;
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body {
    margin-bottom: 60px;
}
header {
    background-color:rgba(58, 239, 252, 0.3);
    border-radius:5px;
    margin: auto;
    margin-bottom: 20px;
    overflow: auto;
}
.profileImg {
    float:left;
    height:115x;
    width:115px;
    margin:10px 15px;
    border-radius:230px;
    border:2px solid #fff;
    background-color:#ddd;
}
.headText {
    font-variant:small-caps;
    font-weight:bold;
    font-size:23px;
    color: #fff;
    margin-bottom:0;
}
.cohort {
    font-weight:bold;
    color:rgb(62, 70, 69);
}
nav {
    margin: auto;
    height: auto;
    text-align: center;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
li {
    display:inline;
    margin-left:0;
}
li a {
    color:#fff;
    text-decoration: none;
    background-color:rgba(9, 81, 87, 0.3);
    font-weight: bold;
    font-size: 15px;
    padding: 12px 14px;
}
li a:hover {
    text-decoration: none;
    background-color: rgba(204, 217, 221, 0.295);
    font-size: 15px;
    padding: 12px 14px;
}
li a:active {
   box-shadow: inset 1px 1px rgb(17, 16, 16),
                inset -1px -1px rgb(17, 16, 16);
}
#welcome-p{
    background-image: url("Bgimg.jpg");
    background-size:cover;
}
article {
    margin:auto;
    margin-top:40px;
    font-size: 17px;
    height:100%;
    text-align:center;
}
article h2 {
    font-size:55px;
    width:100%;
    color: rgba(231, 244, 245, 0.966);
    display: inline-block;
    vertical-align: middle;
    text-shadow: 4px 2px black;
}
#welcome {
    height: 50px;
    width: 50px;
}
h3 {
    color: rgb(58, 54, 54);
}
.skills{
    line-height: normal;
    margin:auto;
    margin-top:40px;
    height:100%;
    color:white;
    text-align:center;
}
.about {
    line-height: normal;
    margin:auto;
    margin-top:40px;
    height:100%;
    color:white;
    text-align:center;
}
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns:auto auto auto auto;
    text-decoration: none;
    padding: 7px;
    background-color:transparent;
}
.grid div {
    color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(38, 16, 236,0.3);
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0;
    border:1px solid rgb(255, 255, 255);
}
.grid div:hover {
    background-color: rgba(114, 102, 216, 0.3);   
}
.grid div:active {
    border:2px;
}
.plat-1 {
    background-image:url("https://yt3.ggpht.com/-y2GQW2dcHkQ/AAAAAAAAAAI/AAAAAAAAAAA/3c2oH4kaP68/s900-c-k-no/photo.jpg");
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
}
.plat-2 {
    background-image:url("https://i.computer-bild.de/imgs/1/2/0/2/7/6/3/5/Icon-SoloLearn-48x48-d954821cf882d330.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
}
.plat-3 {
    background-image:url("https://cdn.pixabay.com/photo/2015/07/13/07/33/icons-842861_640.png");
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
}
.plat-4 {
    background-image:url("https://secure.meetupstatic.com/photos/event/4/c/b/b/600_468259643.jpeg");
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain;
}
.grid2 {
    display:grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    grid-gap: 5px;
    background-color: rgba(41, 169, 228,0.5);
}
.grid2 div {
    padding: 50px;
}
.cert-1 {
    color:rgb(7, 3, 250);
    font-size: 20px;
    border: 2px dashed black;
    background-image: url("Html_cert.jpg");
    background-size: cover;
    background-position: center;
}
.cert-2 {
    color:rgb(7, 3, 250);
    font-size: 20px;
    border: 2px dashed black;
    background-image: url("CSS_cert.jpg");
    background-size: cover;
    background-position: center;
}
.cert-3 {
    color:rgb(7, 3, 250);
    font-size: 20px;
    border: 2px dashed black;
    background-image: url("JS_cert.jpg");
    background-size: cover;
    background-position: center;
}
.cert-4 {
    color:rgb(7, 3, 250);
    font-size: 20px;
    border: 2px dashed black;
    background-image: url("Java-cert.jpg");
    background-size: cover;
    background-position: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(253, 253, 253);
    background-color:rgb(21, 21, 78);
    text-align: center;
    border-top: 2px solid white;
 }
 .contact img{
     height:40px;
     width: 40px;
     text-decoration: none;
 }
 .contact img:hover{
     background-color: rgb(250, 250, 250);
     border-radius: 6px;
 }
 #Home{
    color:#fff;
    text-decoration: none;
    background-color:rgb(11, 55, 121);
    font-weight: bold;
    font-size: 15px;
    padding: 12px 10px;
 }
 #Home:hover {
     background-color:rgb(27, 85, 172);
 }
@media only screen and (max-width:700px){
    .headText {
        font-size:15px;
    }
    .profileImg {
        height:75px;
        width:75px;
        border-radius:150px;
    }
    nav {
        width: 100%;
    }
    li a {
        background-color:rgba(0, 189, 202, 0.966);
        padding: 10px 12px;
    }
    li a:hover {
        background-color: rgba(204, 217, 221, 0.295);
        font-size: 15px;
        padding: 10px 12px;
    }
    article {
        width:100%;
        color: rgba(231, 244, 245, 0.966);
        margin-top:40px;
    }
    article h2 {
        font-size:25px;
        color: rgba(231, 244, 245, 0.966);
        display: inline-block;
        vertical-align: middle;
    }
    .grid {
        grid-template-columns:auto auto;
    }
    .grid div {
        background-color: rgba(38, 16, 236,0.3);
        font-size: 15px;
        border:1px solid rgb(255, 255, 255);
    }
    .grid2 {
        display:grid;
        grid-template-columns: auto auto;
        padding: 5px;
        grid-gap: 5px;
        background-color: rgba(41, 169, 228,0.5);
    }
    .grid2 div {
        padding: 5px;
    }
}